
<h2 class="text1">Open Minds</h2>
<h3 class="text2">&iquest;Quienes somos?</h3>
<h5 class="text9">Open Minds es una empresa comprometida con el
  soporte para aplicaciones libres de Ofim&aacute;tica, entre nuestros
  servicios el usuario puede encontrar centros de ayuda en lo que
  respecta a casi todo tipo de softwar libre, contratando asi el soporte
  propio de cada aplicacion, en este caso la gama de OpenOffice 2 de Sun
  Microsystem.</h5>
<h3 class="text2">&iquest;Como puedo realizar una consulta?<br/>
</h3>
<h5 class="text9">Una vez contratado el servicio, debe registrar
  un usuario y luego nuestros operadores le daran el alta para que pueda
  realizar consultas.<br/>
  Una vez dado de alta Usted cuenta con dos tipos de consultas, por un
  lado la consulta "on Line" que seran contestadas por tecnicos de
  nuestro Staff de profesionales o tiene la consulta "Off line" o
  diferida, por la cual usted envia su inquietud y esta sera respondida
  en la brevedad.<br/>
</h5>
<h3 class="text2">&iquest;Porque Usar soft libre? (por Richard
  Stallman) </h3>
<h5 class="text9"> El &laquo;software libre&raquo; es una
  cuesti&oacute;n de libertad, no de precio. Para comprender este
  concepto, debemos pensar en la acepci&oacute;n de libre como en
  &laquo;libertad de expresi&oacute;n&raquo; y no como en &laquo;barra
  libre de cerveza&raquo;. Con software libre nos referimos a la libertad
  de los usuarios para ejecutar, copiar, distribuir, estudiar, modificar
  y mejorar el software. Nos referimos especialmente a cuatro clases de
  libertad para los usuarios de software:<br/>
  <strong>Libertad 0: </strong>la libertad para ejecutar el
  programa sea cual sea nuestro prop&oacute;sito.<br/>
  <strong>Libertad 1:</strong> la libertad para estudiar el
  funcionamiento del programa y adaptarlo a tus necesidades el acceso al
  c&oacute;digo fuente es condici&oacute;n indispensable para esto.<br/>
  <strong>Libertad 2:</strong> la libertad para redistribuir copias
  y ayudar as&iacute; a tu vecino.<br/>
  <strong>Libertad 3:</strong> la libertad para mejorar el programa
  y luego publicarlo para el bien de toda la comunidad &#8212;el acceso al
  c&oacute;digo fuente es condici&oacute;n indispensable para esto.<br/>
  &#8220;El &laquo;c&oacute;digo&raquo; es la tecnolog&iacute;a que hace que
  los ordenadores funcionen. Est&eacute; inscrito en el software o
  grabado en el hardware, es el conjunto de instrucciones, primero
  escritas como palabras, que dirigen la funcionalidad de las
  m&aacute;quinas. Estas m&aacute;quinas (ordenadores) definen y
  controlan cada vez m&aacute;s nuestras vidas. Determinan c&oacute;mo se
  conectan los tel&eacute;fonos y qu&eacute; aparece en el televisor.
  Deciden si el v&iacute;deo puede enviarse por banda ancha hasta un
  ordenador. Controlan la informaci&oacute;n que un ordenador remite al
  fabricante. Estas m&aacute;quinas nos dirigen. El c&oacute;digo dirige
  estas m&aacute;quinas. &iquest;Qu&eacute; control deber&iacute;amos
  tener sobre el c&oacute;digo? &iquest;Qu&eacute; comprensi&oacute;n?
  &iquest;Qu&eacute; libertad deber&iacute;a haber para neutralizar el
  control que permite? &iquest;Qu&eacute; poder?:<br/>
  <br/>
  &#8220;Software libre&raquo; es la respuesta a un mundo construido mediante
  c&oacute;digo.</h5>