<h1>Asistencia en l&iacute;nea</h1>
<table class="lista">
  <tbody>
    <tr>
      <th style="width: 60px;">Hora</th>
      <th style="width: 60px;">Usuario</th>
      <th><br>
      </th>
    </tr>
    <tr>
      <td>11:00</td>
      <td>Pepe</td>
      <td><a href="#">Asistir</a></td>
    </tr>
  </tbody>
</table>
