<%= error_messages_for 'info' %>

<!--[form:info]-->
<p><label for="info_nombre">Nombre</label><br/>
<%= text_field 'info', 'nombre'  %></p>

<p><label for="info_desc">Descripci&oacute;n</label><br/>
<%= text_field 'info', 'desc'  %></p>

<p><label for="info_archivo">Archivo</label><br/>
<%= file_field 'info', 'archivo'  %></p>

<!--[eoform:info]-->

