<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>OpenMinds</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Usuarios: <%= controller.action_name %></title>
    <%= stylesheet_link_tag "style", :media => "all"  %>
    <%= stylesheet_link_tag 'calendar.css' %>
    <%= javascript_include_tag 'calendar' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="header"></div>
      <div id="columns">
        <div id="menu">
          <% if session[:usuario] == nil  %>
            <%= form_tag :controller => 'admin', :action => 'login' do %>
              <p><label for="usuario_nomUsuario">Nombre de usuario</label><br/>
                <%= text_field_tag :nombre, params[:nombre] %> </p>
              <p><label for="usuario_contrasenia">Password</label><br/>
                <%= password_field_tag :contrasenia, params[:contrasenia] %></p>
              <%= submit_tag "Entrar" %>
              <br/>
              <a href="/usuarios/new">Registrarse</a>
            <% end %>
          <% else %>
            <% if session[:usuario].privilegio == 0  %>
              <h4 class="text7">Estimado  <%= session[:usuario].nombre %>,<%= session[:usuario].apellido %>
                Muchas gracias por ingresar al sistema de OpenMinds, su cuenta ha sido dada de alta
                en nuestro sistema y se encuentra en espera para la verificacion por nuestros
                operarios que brevemente se comur&aacute;n con usted, <br/>
                Desde ya muchas gracias por elegirnos.
              </h4>
            <% else %>
              <% if session[:usuario].privilegio >= 1  %>
                <strong>Usuarios</strong>
                <h4 class="text5">Consultas</h4>
                <%= link_to 'Asistencia en línea', {:controller => 'chat', :action => 'new'}, :popup =>  ['Asistencia en línea', 'height=420, width=600'] %><br/>
                <%= link_to 'Mis Consultas', :controller=>'consultas', :action => 'mis_consu_list' %><br/>
                <%= link_to 'Modificar Perfil', :controller=>'usuarios', :action=>'edit', :id=>session[:usuario].id %><br/>
                <%= link_to 'Logout', :controller=>'admin', :action => 'logout' %><br/>
              <% end %>
              <% if session[:usuario].privilegio >= 4  %>
                <h4 class="text5">Operador</h4>
                <%= link_to 'Aceptar usuarios', :controller=>'usuarios', :action => 'acept' %><br/>

                <%= link_to 'Consultas pendientes', :controller=>'consultas', :action=>'list_op' %><br/>
                <%= link_to 'Todas las consultas', :controller=>'consultas', :action=>'list_tuto' %><br/>
                <a href="#">Asistencia en l&iacute;nea</a><br/>
              <% end %>
              <% if session[:usuario].privilegio >= 7  %>
                <h4 class="text5">Auditor</h4>
                <a href="#">Ver historial</a><br/>
                <%= link_to 'Administrar Usuarios', :controller=>'usuarios', :action => 'list'%><br/>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div id="content">
          <% if flash[:notice] or flash[:warning] %>
            <div id="notice"><%= flash[:notice]%><%=flash[:warning] %></div>
          <% end %>
          <%= yield  %>
        </div>
      </div>
    </div>
  </body>
</html>
